//- Next let’s set up the new message form. In the router add a router.get() for the "/new" route and point it to a template named "form". In the views directory create your form template. Add a heading, 2 inputs (one for the author’s name and one for the message text) and a submit button. To have the form make a network request you will need to define it with both a method and an action like so:

//- <form method="POST" action="/new">
//-    put your inputs and buttons in here!
//- </form>
extends layout

block content
  form(method="POST" action="/new")
    input(type="text" name="user" placeholder="Your name")
    input(type="text" name="text" placeholder="Your message")
    input(type="submit")