extends layout

block content
  form(method="POST" action="/new")
    input(type="text" name="user" placeholder="Your name")
    input(type="text" name="text" placeholder="Your message")
    input(type="submit")
    button(type="button" onclick="window.location.href='/';") Cancel